node_modules
dist
build
.env
.env.*
!.env.example

.DS_Store

frontend/node_modules
frontend/dist

backend/node_modules
backend/dist
backend/.env

postgres_data

.vscode/

outputs/

backend/.postman/
backend/postman/

frontend/.env.local
